{% extends '::base.html.twig' %}


{% block Page_Header %}
    <section class="page-header page_404">
        <div class="container">
            <div class="page-header_wrap">
                <div class="page-heading">
                    <h1>My Topics</h1>
                </div>
                <ul class="coustom-breadcrumb">
                    <li><a href="{{ path('karhabty_user_homepage') }}">Home</a></li>
                    <li>My Topics</li>
                </ul>
            </div>
        </div>
        <!-- Dark Overlay-->
        <div class="dark-overlay"></div>
    </section>
{% endblock %}
{% block Message_content %}
    <!--Profile-setting-->
    <section class="user_profile inner_pages">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="profile_nav">
                        <ul>
                            <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                            <li><a href="{{ path('fos_user_profile_edit') }}">Profile Settings</a></li>
                            <li class="active"><a href="{{ path('karhabty_user_Topic') }}">My Topics</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Sign Out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-8">
                    <div class="profile_wrap">
                        <h5 class="uppercase underline">My Topics</h5>
                        <div class="container">
                            <div class="row col-md-10 ">
                                <table class="table table-striped "style=" width: 101%;max-width: 105%;">
                                    <thead>
                                    <a href="{{ path('karhabty_forum_Create_Topic') }}" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new topic</a>
                                    <tr>
                                        <th>Title</th>
                                        <th>Published At  <span class="glyphicon glyphicon-calendar"></span></th>
                                        <th>Category  <span class="glyphicon glyphicon-folder-open"></span></th>
                                        <th>Post State</th>
                                        <th>Last Post At<span class="glyphicon glyphicon-calendar"></span></th>
                                        <th class="text-center">Action  <span class="glyphicon glyphicon-cog"></span></th>
                                    </tr>
                                    </thead>
                                    {% for topic in topics %}
                                    <tr>
                                        <td>{{ topic.title }}</td>
                                        <td>{{ topic.date|date('Y-m-d H:i:s') }}</td>
                                        <td>{{ topic.category.name }}</td>
                                        {% if (topic.closed) %}
                                        <td>Closed</td>
                                        {% elseif (topic.resolved) %}
                                            <td>Resolved</td>
                                            {% else %}
                                            <td>Published</td>
                                            {% endif %}
                                        <td>{{ topic.lastpost|date('Y-m-d H:i:s') }}</td>
                                        <td class="text-center">
                      <a class='btn btn-info btn-xs' href="{{ path('karhabty_forum_Edit_Topic',{'id':topic.id}) }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                          <a href="{{ path('karhabty_forum_Delete_Topic',{'id':topic.id}) }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a>
                  <a href="{{ path('karhabty_forum_Topic_Details',{'slugc':topic.category.slug,'slugt':topic.slug }) }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> View</a></td>
                                    </tr>
                                        {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!--/Profile-setting-->

{% endblock %}