{% trans_default_domain 'FOSUserBundle' %}

{% block index_content %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Sign Up</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="signup_wrap">

                            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        {{ form_widget(form.username ,{'attr': {'placeholder': 'Username','class':'form-control'} } ) }}
                                        {{ form_errors(form.username) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.email ,{'attr': {'placeholder': 'Email','class':'form-control'} } ) }}
                                        {{ form_errors(form.email) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.plainPassword.first ,{'attr': {'placeholder': 'Password','class':'form-control'} } ) }}
                                        {{ form_errors(form.plainPassword.first) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.plainPassword.second ,{'attr': {'placeholder': 'Confirmer Password','class':'form-control'} } ) }}
                                    </div>
                                    <div class="form-group checkbox">
                                        <input type="checkbox" id="terms_agree">
                                        <label for="terms_agree">I Agree with <a href="#">Terms and Conditions</a></label>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-block">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                   <div class="form-group">
                                       {{ form_widget(form.lastName ,{'attr': {'placeholder': 'Nom','class':'form-control'} } ) }}
                                       {{ form_errors(form.lastName) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.firstName ,{'attr': {'placeholder': 'Prenom','class':'form-control'} } ) }}
                                        {{ form_errors(form.firstName) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.tel ,{'attr': {'placeholder': 'Tel','class':'form-control'} } ) }}
                                        {{ form_errors(form.tel) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.mobile ,{'attr': {'placeholder': 'Mobile','class':'form-control'} } ) }}
                                        {{ form_errors(form.mobile) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.address ,{'attr': {'placeholder': 'Adresse','class':'form-control'} } ) }}
                                    </div>
                                </div>
                                <div class="mid_divider"></div>
                            {{ form_end(form) }}


                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <p>Already got an account? <a href="{{ path('fos_user_security_login') }}" data-toggle="modal" data-dismiss="modal">Login Here</a></p>
                </div>
            </div>
        </div>

{% endblock %}