{% extends '::base.html.twig' %}
{% block index_content %}

    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 120%;">
            <div class="modal-header">

                <h3 class="modal-title">Create Topic</h3>
            </div>
            <div class="modal-body" >
                <div class="row">
                    <div class="forgotpassword_wrap">
                        <div class="col-md-12">
                            {{ form_start(form) }}
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    {{ form_widget(form.title,{'attr': {'placeholder': 'Title','class': 'form-control','pattern':'[A-Za-z0-9 ]*','title':'no[/.-]'}}) }}
                                </div>
                                </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    {{ form_widget(form.category,{'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-6">
                                <div class="form-group">
                                    {{ form_widget(form.description,{'attr': {'placeholder': 'Description','class': 'form-control','maxlength':'150'}}) }}
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-6">
                            <div class="form-group">
                                {{ form_widget(form.content) }}
                            </div>
                                </div>
                            <div class="col-md-12 col-sm-6">
                            <div class="form-group">
                                {{ form_widget(form.save,{'attr': {'class': 'btn btn-block'}}) }}
                            </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}