{% extends '@KarhabtyAdmin/base.html.twig' %}

            {% block page_Header %}
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-files-o"></i>Liste des Utilisateurs</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a href="{{ path('karhabty_admin_homepage') }}">Home</a></li>
                            <li><i class="icon_documents_alt"></i>Forum</li>
                            <li><i class="fa fa-files-o"></i>Liste des Utilisateurs</li>
                        </ol>
                    </div>
                </div>
            {% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Liste des Utilisateurs
                </header>

                <table class="table table-striped table-advance table-hover">
                    <tbody>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Date de creation</th>
                        <th>Etat du compte</th>
                        <th>Banni</th>
                        <th><i class="icon_cogs"></i> Bloquer\Debloquer </th>
                        <th><i class="icon_cogs"></i> Bannir\Debannir Du Forum</th>
                    </tr>
{% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.creationDate|date('D-d-M-Y') }}</td>
                            {% if user.enabled==true %}
                            <td>Actif</td>
                                {% else %}
                             <td>Bloquer</td>
                                {% endif %}
                            {% if user.banned==true %}
                                <td>Banni du forum</td>
                            {% else %}
                                <td>Actif</td>
                            {% endif %}
                            <td>
                                <div class="btn-group">
                                 {% if user.enabled==false %}
                                    <a class="btn btn-success" href="{{ path('karhabty_admin_EnableUser',{'id':user.id}) }}"><i class="icon_plus_alt2"></i></a>
                                 {% else %}
                                    <a class="btn btn-danger" href="{{ path('karhabty_admin_DisableUser',{'id':user.id}) }}"><i class="icon_close_alt2"></i></a>
                                 {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="btn-group">
                                  {% if user.banned==true %}
                                    <a class="btn btn-success" href="{{ path('karhabty_admin_UnBannedUsers',{'id':user.id}) }}"><i class="icon_plus_alt2"></i></a>
                                  {% else %}
                                    <a class="btn btn-danger" href="{{ path('karhabty_admin_BannedUsers',{'id':user.id}) }}"><i class="icon_close_alt2"></i></a>
                                  {% endif %}
                                </div>
                            </td>
                        </tr>
{% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
{% endblock %}