{% extends '::base.html.twig' %}
{% block index_content %}

    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 120%;">
            <div class="modal-header">

                <h3 class="modal-title">Report a Post</h3>
            </div>
            <div class="modal-body" >
                <div class="row">
                    <div class="forgotpassword_wrap">
                        <div class="col-md-12">
                            {{ form_start(form) }}
                            <div class="col-md-12 col-sm-6">
                                <div class="form-group">
                                    {{ form_label(form.reason) }}
                                    {{ form_widget(form.reason,{'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-6">
                                <div class="form-group">
                                    {{ form_widget(form.Report,{'attr': {'class': 'btn btn-block'}}) }}
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}