<!DOCTYPE html>
<html ng-app="Ang">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="{{ asset('bundles/karhabtyuser/images/Logo1.png') }}">

    <title>Karhabty-Dashboard</title>

    <!-- Bootstrap CSS -->
    <link href="{{ asset('bundles/karhabtyadmin/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{{ asset('bundles/karhabtyadmin/css/bootstrap-theme.css') }}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="{{ asset('bundles/karhabtyadmin/css/elegant-icons-style.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/karhabtyadmin/css/font-awesome.min.css') }}" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="{{ asset('bundles/karhabtyadmin/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/karhabtyadmin/css/style-responsive.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    {% set url = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}
</head>

<body>
<!-- container section start -->
<section ng-controller="Cntrl" id="container" class="">
    <!--header start-->

    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
        </div>

        <!--logo start-->
        <a href="{{ path('karhabty_admin_homepage') }}" class="logo">Nice <span class="lite">Admin</span></a>
        <!--logo end-->

        <div class="nav search-row" id="top_menu">
            <!--  search form start -->
            <ul class="nav top-menu">
                <li>
                    <form class="navbar-form">
                        <input class="form-control" ng-model="query" placeholder="Search" type="text">
                        {% if  url == '/Karhabty-web/web/app_dev.php/admin/Admin/Annonce'  %}
                        <select ng-model="order" class="form-control">
                            <option value="prix">Organisé par prix</option>
                            <option value="kilo">Organisé par kilométrage</option>
                            <option value="dateannonce">Organisé par date</option>
                        </select>
                        {% endif %}
                    </form>
                </li>
            </ul>
            <!--  search form end -->
        </div>

        <div class="top-nav notification-row">
            <!-- notificatoin dropdown start-->
            <ul class="nav pull-right top-menu">

                <!-- task notificatoin start -->

                <!-- inbox notificatoin end -->
                <!-- alert notification start-->
                {% if notif is defined %}
                    <li id="alert_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                            <i class="icon-bell-l"></i>
                            <span class="badge bg-important">{{ notif.nbrannonce }}</span>
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <div class="notify-arrow notify-arrow-blue"></div>
                            <li>
                                <p class="blue">{{ notif.nbrannonce }} nouveaux annonces</p>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li id="alert_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-bell-l"></i>
                        </a>
                    </li>
                {% endif %}
                <!-- alert notification end-->
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="{{ asset('bundles/karhabtyadmin/img/avatar1_small.jpg') }}">
                            </span>
                        <span class="username">{{ app.user.username }}</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li class="eborder-top">
                            <a href="#"><i class="icon_profile"></i> My Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon_mail_alt"></i> My Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon_clock_alt"></i> Timeline</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon_chat_alt"></i> Chats</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}"><i class="icon_key_alt"></i> Log Out</a>
                        </li>

                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!-- notificatoin dropdown end-->
        </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu">
                <li class="">
                    <a class="" href="{{ path('karhabty_admin_homepage') }}">
                        <i class="icon_house_alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon_profile"></i>
                        <span>Gst des comptes</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="{{ path('karhabty_admin_DisplayUsers') }}">Gest utilisateur</a></li>
                        <li><a class="" href="#">Gest auto-ecole</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon_documents_alt"></i>
                        <span>Gst Forum</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="{{ path('karhabty_admin_ADD_Category') }}">Ajouter Categorie</a></li>
                        <li><a class="" href="{{ path('karhabty_admin_Display_Category') }}">Gst des Categories</a></li>
                        <li><a class="" href="{{ path('karhabty_admin_Display_Topics' )}}">Gst des sujets</a></li>
                        <li><a class="" href="#">Gst des posts</a></li>
                        <li><a class="" href="{{ path('karhabty_admin_Reported_Posts') }}">Reported Post <span class="badge bg-important">2</span></a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon_profile"></i>
                        <span>Gst des Annonces</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="{{ path('karhabty_Admin_annonce') }}">List des annonces</a></li>
                        <li><a class="" href="{{ path('karhabty_Admin_alert') }}">List des alerts</a></li>
                        <li><a class="" href="{{ path('karhabty_Admin_contact') }}">List des contacts</a></li>
                    </ul>
                </li>

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->

    <section id="main-content">
        <section class="wrapper">
            {% block page_Header %}
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa fa-bars"></i> Pages</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                        <li><i class="fa fa-bars"></i>Pages</li>
                        <li><i class="fa fa-square-o"></i>Pages</li>
                    </ol>
                </div>
            </div>
            {% endblock %}
            {% block main_content %}
            <!-- page start-->
            Page content goes here
            <!-- page end-->
            {% endblock %}
        </section>
    </section>

    <!--main content end-->
    <div class="text-right">
        <div class="credits">
            <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
            -->
            <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</section>
<!-- container section end -->
<!-- javascripts -->
<script src="{{ asset('bundles/karhabtyadmin/js/jquery.js') }}"></script>
<script src="{{ asset('bundles/karhabtyadmin/js/bootstrap.min.js') }}"></script>
<!-- nice scroll -->
<script src="{{ asset('bundles/karhabtyadmin/js/jquery.scrollTo.min.js') }}"></script>
<script src="{{ asset('bundles/karhabtyadmin/js/jquery.nicescroll.js') }}" type="text/javascript"></script><!--custome script for all page-->
<script src="{{ asset('bundles/karhabtyadmin/js/scripts.js') }}"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
<!--[if lt IE 9]>
<script src="{{ asset('bundles/karhabtyadmin/js/html5shiv.js') }}"></script>
<script src="{{ asset('bundles/karhabtyadmin/js/lte-ie7.js') }}"></script>
<![endif]-->
<script src="{{ asset('bundles/karhabtyannonce/js/mustache.js') }}"></script>
<script src="{{ asset('bundles/karhabtyannonce/js/SystemNotification.js') }}"></script>
</body>
</html>
