{% extends '@KarhabtyAdmin/base.html.twig' %}

            {% block page_Header %}
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a href="{{ path('karhabty_admin_homepage') }}">Home</a></li>
                            <li><i class="fa fa-laptop"></i>Dashboard</li>
                        </ol>
                    </div>
                </div>
            {% endblock %}

